{% block container %}

<h1>로그인</h1>

{% if user.is_active %}
<h2> Welcome, {{user.username}} </h2>
<a href="{% url 'logout' %}">로그아웃</a>


{% else %}
<form method="POST" action="" class="sign-in-form">
 
    {%csrf_token%}
 
    <h2 class="sub-title"> 로그인 </h2>
 
    {% for field in form %}
 
    <div class="form-group">
 
        {{ field.label }}
 
        {{field}}
 
    </div>
 
    {% endfor %}
 
    <button type="submit" class="save btn btn-success">회원가입</button>
 
    <a href="{% url 'home' %}">
 
        <button type="button" class="btn btn-danger">취소</button>
 
    </a>

</form>
{% endif %}
{% endblock %}